@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Accueil</h1>
    <p>Vous pouvez naviguer dans les onglet ci-dessus pour accéder à la gestion des logement, des locataire et des factures</p>
</div>
